.club {
  
  font-family:Circular,Helvetica,Arial,sans-serif;
  }
  .club-header {
    display: flex;
    justify-content: space-between;
  }
  .club-main {
    margin-top: 20px;
    padding:10px;
  }
  /* .club h1{
    position:relative;
    left:33%;
  } */