.name-filter {
    height: 50px;
    padding: 0 10px;
  
    position: relative;
    left: 73%;
    height: 37px;

    
  }
  .name-filter-text {
    border: 2px solid black;
    padding: 5px 10px;;
  }
  .name-filter-button {
    border: 2px solid black;
    border-left: none;
    background-color: transparent;
    padding: 0 10px;
  }